a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.telegrammars-himalaya-evening {
    background-image: url("../images/himalaya-evening.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    width : 100%;
    height: 350px;
    padding: 0px;
}

.telegrammars-navbar-title {
    text-decoration-color: #adadad;
}

.telegrammars-slogan {
    color: white;
    top: 300px;
    height: 50px;
    position: relative;
    text-align: center;
    font-size: 30px;
    background-color: black;
    opacity: 0.4;
}

.telegrammars-main-login {
    text-align: right;
}

.telegrammars-main-login img {
    margin-top: 20%;
    width: 300px;
}

.telegrammars-main-login a {
    background-color: #61A8DE;
    color: #ffffff;
    border-radius: 5px;
    height: 150px;
    padding-right: 10px;
    padding-left: 10px;

}

.telegrammars-main-login a span {
    background-image: url("../images/telegram.svg");
    background-position-x: right;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-right: 25px;
}



.telegrammars-main-copyright {
    text-align: left;
    font-size: 28px;
    width: 400px;
    padding-top: 100px;
    color: gray;

}

.telegrammars-signed-in-header {
    width: 100%;
    background-image: url("../images/bk.svg");
    background-position-x: left;
    background-position-y: top;
    background-size: 350px;
    height: 350px;
    background-repeat: no-repeat;
    text-align: center;
}
.telegrammars-signed-in-header-logo {
    height: 90px;
    margin-top: 70px;
}

.telegrammars-signed-in-header-profile {
    height: 64px;
    width: 64px;
}

.telegrammars-signed-in-header-profile-dropdown {
    position: fixed;
    right: 160px;
    top: 10px;
}

.telegrammars-signed-in-header-profile-dropdown a ul {
    left:0px;
}

.telegrammars-selection-box {
    background-image: url("../images/box.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    text-align: center;
    padding-top: 10px;
}

.telegrammars-selection-box-new {
    background-image: url("../images/new-box.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    text-align: center;
    padding-top: 10px;
}
.telegrammars-selectoin-box-icon {
    height: 60px;
}

.telegrammars-selection-row{
    padding-right: 10%;
    padding-left: 10%;
}

.telegrammars-wizard {
    top: -100px;
    position: relative;
    padding-right: 20px;
}


.telegrammars-wizard-item {
    text-align: center;
    height: 70px;
    width: 120px;
}

.telegrammars-wizard-item img {
    width: 48px;
    height: 48px;

}