<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="#{view.index.title}">Welcome</title>

    <div th:replace="fragments/header_signed :: header-css"/>

</head>
<body>

<div th:replace="fragments/header_signed :: header"/>

<div class="container">
    <div class="row telegrammars-selection-row">
        <div class="col-md-3 telegrammars-selection-box">
            <img class="telegrammars-selectoin-box-icon" th:src="@{/images/new-campain.svg}"/> <br/>
            <span class="telegrammars-selectoin-box-title" th:text="#{new.campaign}"></span>
            <br/>
            <br/>
            <span class="telegrammars-selectoin-box-telp" th:text="#{new.campaign.help}"></span>
        </div>
        <div class="col-md-3 telegrammars-selection-box">
            <a th:href="@{/campaign/list}" class="telegrammars-selectoin-box-link">
                <img class="telegrammars-selectoin-box-icon" th:src="@{/images/campain-result.svg}"/> <br/>
            </a>
            <span class="telegrammars-selectoin-box-title" th:text="#{previous.campaigns}"></span>
            <br/>
            <br/>
            <span class="telegrammars-selectoin-box-telp" th:text="#{previous.campaigns.help}"></span>
        </div>
        <div class="col-md-3 telegrammars-selection-box">
            <img class="telegrammars-selectoin-box-icon" th:src="@{/images/profile.svg}"/> <br/>
            <span class="telegrammars-selectoin-box-title" th:text="#{profile.edit}"></span>
            <br/>
            <br/>
            <span class="telegrammars-selectoin-box-telp" th:text="#{profile.edit.help}"></span>
        </div>
        <div class="col-md-3 telegrammars-selection-box-new">
            <a href=http://telemine.me" target="_blank" class="telegrammars-selectoin-box-link">
                <img class="telegrammars-selectoin-box-icon" th:src="@{/images/search-engine.svg}"/> <br/>
            </a>
            <span class="telegrammars-selectoin-box-title" th:text="#{telegram.search.engine}"></span>
            <br/>
            <br/>
            <span class="telegrammars-selectoin-box-telp" th:text="#{telegram.search.engine.help}"></span>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>
