<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container telegrammars-himalaya-evening">
        <div class="telegrammars-slogan">
            It's time for a new Adventure, Be a part of it!
    </div>
</div>
<!-- /.container -->
<div class="container">
    <div class="row">
        <div class="col-md-7 telegrammars-main-login">
            <img th:src="@{/images/logo.svg}"/>
            <br/><br/><br/>
            <a th:href="@{/login}">
                <span>Login</span>
            </a>
        </div>
        <div class="col-md-5 telegrammars-main-copyright">Make meaningful connections <br/>with people to grow your business</div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>
